<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)"> <!-- let contactForm = new NgForm()-->
  <p>
    <label for="firstname">Nombres</label>
    <input type="text" id="firstname" name="firstname" #fname="ngModel" [(ngModel)]="contact.firstname"
    minlength="5" required>
    <span>
      <div *ngIf="!fname?.valid && (fname?.dirty || fname?.touched)">
        nombre es invalido
        <div *ngIf="fname.errors.required">
           nombre is required
        </div>
        <div *ngIf="fname.errors.minlength">
           {{fname.errors.minlength?.requiredLength}}
        </div>
      </div>
    </span>
  </p>
  
  <p>
    <label for="lastname">Apellidos</label>
    <input type="text" id="lastname" name="lastname" #lname="ngModel" [(ngModel)]="contact.lastname">
  </p>
 
  <p>
    <label for="email">Email </label>
    <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="contact.email">
  </p>
 
  <p>
    <label for="gender">Genero</label>
    <input type="radio" value="male" id="gender" name="gender" [(ngModel)]="contact.gender"> Hombre
    <input type="radio" value="female" id="gender" name="gender" [(ngModel)]="contact.gender"> Mujer
  </p>
 
  <p>
    <label for="isMarried">Estado civil</label>
    <input type="checkbox" id="isMarried" name="isMarried" [(ngModel)]="contact.isMarried">
  </p>
 
  <p>
  <label for="country">Pais </label>
  <select name="country" id="country" [(ngModel)]="contact.country.id">
    <option selected="" value=""></option>
    <option [ngValue]="c.id" *ngFor="let c of countryList">
      {{c.name}} 
    </option>
  </select>
  </p>

  <div ngModelGroup="address">
    <p>
      <label for="city">Ciudad</label>
      <input type="text" name="city" [(ngModel)]="contact.address.city">
    </p>
 
    <p>
      <label for="street">Calle</label>
      <input type="text" name="street" [(ngModel)]="contact.address.street">
    </p>
    <p>
      <label for="pincode">Codigo Postal</label>
      <input type="text" name="pincode" [(ngModel)]="contact.address.pincode">
    </p>
  </div>

  <p>
    <button type="submit" [disabled]="!contactForm.valid">Guardar</button>
  </p>

  <p> <button (click)="resetForm(contactForm)">Limpiar</button></p>
</form>
<div>
  <tr *ngFor="let contactItem of contacList">
    <td> {{ contactItem.firstname }}</td>
  </tr>
</div>

<div>
  <h2>Valores del formulario</h2>
  <pre>
    {{ contactForm.value | json }} <!-- json(contactForm.value)-->
  </pre>
  <pre>
    contactForm.valid: {{ contactForm.valid }}
  </pre>

  <pre>
    contactForm.touched: {{ contactForm.touched }}
  </pre>

  <pre>
    contactForm.submitted: {{ contactForm.submitted  }}
  </pre>

  <p>Nombre: {{ contactForm.value.firstname }}</p>
  <p>Nombre desde variable: {{ fname.value }}
  <pre>
    valid: {{ fname.valid }}
  </pre>

  <pre>
    invalid: {{ fname.invalid }}
  </pre> 

  <pre>
    touched: {{ fname.touched }}
  </pre>

  <pre>
    dirty: {{ fname.dirty }}
  </pre> 
</div>